* {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(58, 58, 58);
}

header {
  margin: 76px 0;
  padding: 0px 600px;
}

header .title {
  font-weight: 800;
  font-size: 60px;
  color: rgb(58, 58, 58);
}

hr.solid {
  border-top: 1.5px solid #bbb;
  margin-top: 20px;
}

.body {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 64px;
}

img {
  max-width: 150px;
}

.choice {
  transition: all 0.2s ease;
  /* transition: drop-shadow 0.2s; */
}

.choice:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 10px 5px rgb(180, 180, 180));
  filter: drop-shadow(0px 10px 5px rgb(180, 180, 180));
}

#score-human,
#score-robot {
  font-size: 60px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.game-info {
  text-align: center;
  margin: 64px;
}

footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: darkgrey;
}

.footer-text {
  position: fixed;
  bottom: 0;
  padding: 24px;
  font-size: 12px;
  background-color: rgb(231, 231, 231);
  width: 100%;
}

.game-finish {
  pointer-events: none;
}
